.section-about {
  p {
    display: flex;
    align-items: center;
    margin: 45px auto;
    width: 60%;
    font-size: 22px;

    line-height: 1.6;
  }
  .about-bold {
    font-weight: bolder;
  }
  a:before {
    background-color: var(--orange);
  }
}


p.resume-link {
  display: flex;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 80px;
  text-align: left;
  width: 60%;
}

@media only screen and (max-width: 420px) {
  .section-about {
    margin: 0 5%;
    p {
      margin: 25px auto;
      width: 90%
    }
  }
}
