.section-about {
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 50%;
    font-size: 19px;
    text-align: center;
    line-height: 1.6;
  }
  a:before {
    background-color: #000;
  }
}

.about-bold {
  font-weight: bolder;
}

.resume-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}

.icon-arrow {
  margin-left: 10px;
  width: 30px;
  height: auto;
}

@media only screen and (max-width: 420px) {
  .section-about {
    margin: 0 10%;
    p {
      width: 70%
    }
  }
}
