.section-header {
  height: 19vh;
  position: fixed;
  top: 0px;
  width: 100%;
  background: white;
  padding-top: 15px;
}

.icon-info-container {
  margin-left: 35px;
  display: inline-flex;
  justify-content: center;
}

.sj-info {
  display: inline-block;
  margin-top: 35px;
  h1 {
    font-size: 28px;
  }
  h3 {
    padding: 3px 0 0 1px;
  }

}


.icon-img {
  width: 120px;
  height: 120px;
  margin-left: -20px
}
