h1 {
  color: black;
}

.icon-info-container {
  display: inline-flex;
  justify-content: center;
}

.sj-info {
  display: inline-block;
  margin-top: 25px;
}

.icon-img {
  width: 90px;
  height: 90px;
  margin-left: -20px
}
