.section-header {
  height: 130px;
  position: fixed;
  top: 0px;
  width: 100%;
  background: #fafbfa;
  padding-top: 15px;
  z-index: 1;
}

.icon-info-container {
  margin-left: 35px;
  display: inline-flex;
  justify-content: center;
}

.sj-info {
  display: inline-block;
  margin-top: 35px;
  h1 {
    font-size: 28px;
  }
  h3 {
    padding: 3px 0 0 9px;
  }

}


.icon-img {
  width: 120px;
  height: 120px;
  margin-left: -20px
}

.icon-img:hover {
  transform: scale(1.1);
}

@media (max-width: 588px) {
  .section-header {
    height: 155px;
    padding-left: 26.5%;
  }
}
