.section-footer {
  margin: auto;
  display:inline-block;
  padding: 8px 15px;
  align-items: center;
}

.social-media {
  display: inline-flex;
  height: 15px;
  width: 15px;
  margin: 10px;
}

.email-msg {
  display: block;
}

.email-msg p {
  display: inline-block;
}
