.section-footer .main {
  margin: 135px auto 45vh;
}

.container-social {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 15%;
  padding: 8px 15px;
  align-items: center;
}

.social-media {
  border: 2px solid var(--light-gray);
  border-radius: 6px;
  padding: 1px;
  display: inline-flex;
  margin: 20px 20px 30px 20px;
  transition-duration: .5s;
  &:hover {
    border: 2px solid var(--orange);
    transform: scale(1.2);
    transition-duration: .5s;
  }
}


@media only screen and (max-width: 763px) {
  .section-footer {
    margin: auto;
  }
  .social-media-divider-hide.fourth {
    color: white;
  }
}

@media only screen and (max-width: 659px) {
  .social-media-divider-hide {
    &.third {
      color: white;
    }
    &.fourth {
      color: var(--black);
    }
  }
}

@media only screen and (max-width: 505px) {
  .social-media-divider-hide {
    &.second {
      color: white;
    }
    &.third {
      color: var(--black);
    }
    &.fourth{
      color: white;
    }
  }
}
