.section-footer {
  margin: 80px auto 40vh;
}

.container-social {
  display:flex;
  justify-content: center;
  margin-top: 20px;
  padding: 8px 15px;
  align-items: center;
}

.social-media {
  display: inline-flex;
  margin: 20px 20px 30px 20px;
  :hover {
    transform: scale(1.1);
  }
}
