.container-hero {
  padding-top: 131px;
  margin: 0 20px 0 25px;
}

.img-hero {
  background: url('../../Images/TdP.jpg') no-repeat center center;
  border-radius: 4px;
  background-size: cover;
  height: 75vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20 0 20px ;
}

@media (max-width: 588px) {
  .container-hero {
    padding-top: 155px; 
  }
}
