@import 'reset';

body {
  background: white;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
};

h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.main {
  height: 90vh;
  margin-left: 42px;
  h4 {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
  }
}
