@import 'reset';

:root {
  --black: #272727;
  --light-gray: #fafbfa;
  --orange: rgba(211,92,26, .7);
}

body {
  background: var(--light-gray);
}

h1, h2, h3, h4, h5, p {
  font-family: 'Montserrat', sans-serif;
  color: var(--black)
};

h2 {
  display: flex;
  justify-content: center;
  font-size: 34px;
}
.main {
  min-height: 70vh;
  // margin-left: 5%;
  h2 {
    margin-top: 40px;
  }
  h4 {
    display: inline-block;
    font-size: 19px;
  }
}

a {
  height: auto;
  position: relative;
  text-decoration: none;
  color: var(--black);
}
a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all .7s ease-in-out 0s;
  transition: all .7s ease-in-out 0s;
}
a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-hook {
  top: -180px;
}

.home {
  top: -150px;
}

@media only screen and (max-width: 760px) {
  .main {
    height: auto;
    margin: 0 5%;
  }
  .nav-hook {
    top: -200px;
  }
}
