.container-nav {
  float: right;
  margin: 30px 30px 0 0;
  padding: 20px;
  h3, p {
    display: inline-block;
    font-size: 24px;
  }
  p {
    margin: 0 15px;
  }
  a:before {
    background-color: var(--orange);
  }
}


@media only screen and (max-width: 760px) {
  .container-nav {
    float: none;
    margin: 0 47px;
    z-index: -1;
    padding: 0;
    width: auto;
  }
}

@media only screen and (max-width: 420px) {
  .container-nav {
    display: none;
  }
}
