.container-nav {
  float: right;
  margin: 35px 30px 0 0;
  padding: 20px;
  h3, p {
    display: inline-block;
    font-size: 20px;
  }
  p {
    margin: 0 15px;
  }
  a:before {
    background-color: #000;
  }
}

@media (min-width: 588px) {
  .container-nav {
    float: none;
    margin: 0 47px;
    z-index: -1;
    padding: 0;
    width: auto;
  }
}
