.section-code {
  margin-top: 10vh;
  display: block;
}

.code-header {
  margin-bottom: 30px;
}

.projects {
  margin: 15px 5vw 15px 7vw;
  display: block;
  align-items: center;
}

.project {
  display: flex;
  align-items: center;
  width: 88vw;
  height: auto;
  h3, h5, img {
    display: block;
  }
  img{
    margin: 10px;
    transform: scale(.5);
    position: relative;
  }
  h3 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bolder;
  }
  h5 {
    font-size: 19px;
    margin-bottom: 18px;
    line-height: 1.4;
  }
  .tech {
    font-weight: 600;
  }
}

img.project-img {
  border: 3px solid var(--light-gray);
  border-radius: 8px;
  height: auto;
  padding: 2px;
  margin: 0;
  transform: scale(.8);
  transition-duration: .9s;
  width: 350px;
  &:hover {
    border: 3px solid var(--black);
    transition-duration: .9s;
  }
}

.project-text {
  display: inline-block;
  width: auto;
  margin: 20px 0;
  img {
    height: 40px;
    width: auto;
    display: inline-block;
    margin: 0 10px 0 5px;
    transform: scale(1);
  }
}

a.project-link {
  display: flex;
  align-items: center;
  transition-duration: .9s;
  &:hover {
    transform: scale(1.15);
    transition-duration: .9s;
  }
}

a.project-link.github {
  max-width: 280px;
  &:hover {
    transform: scale(1.1);
  }
}

@media only screen and (max-width: 763px) {
  margin-top: 40px;

  .projects {
    margin: 5% 0 20px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  article.project {
    width: 90%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    a {
      display: flex;
      margin: 0 auto;
    }
    .project-img {
      display: none;
    }
    img {
      margin-right: 5px;
    }
  }
}

@media only screen and (max-width: 420px) {
  .section-code {
    margin: 0 10%;
  }

  article.project {
    align-items: center;
    display: flex;
    margin-top: 5px;
    width: 100%;
    text-align: center;
    .project-img {
      display: none;
    }
    .project-text {
      width: 100%;
    }
    a.project-link.github{
      margin: 0 auto;
    }
    h4 {
      margin-left: 5px;
    }
  }

}
