.section-code {
  margin-top: 10vh;
  display: block;

}

.projects {
  margin: 20px 0 20px 15%;
  display: block;
  align-items: center;
}

.project {
  display: flex;
  align-items: center;
  width: 80%;
  height: auto;
  h3, h5, img {
    display: block;
  }
  img{
    margin: 10px;
    border-radius: 4px;
    transform: scale(.7);
    position: relative;
    z-index: -1;
  }
  h3 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  h5 {
    font-size: 14px;
    margin-bottom: 18px;
    line-height: 1.4;
  }
  .tech {
    font-weight: 600;
  }
}

.project-text {
  display: inline-block;
  width: auto;
  margin: 20px 0;
  img {
    height: 50px;
    width: 50px;
    display: inline-block;
    margin: 0 10px;
    transform: scale(1);
  }
}

.project-text a {
  display: inline-block;
  margin-left: 10px;
}

.project-link:hover {
  transform: scale(1.1);
}
